@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==================================== */
/* Custom properties and general styles */
/* ==================================== */

:root {
  --ff-main: 'Rubik', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;
  --fs-100: 6.25em;

  /* Primary */

  --clr-blue: hsl(246, 80%, 60%);
  --clr-orange: hsl(15, 100%, 70%);
  --clr-soft-blue: hsl(195, 74%, 62%);
  --clr-light-red: hsl(348, 100%, 68%);
  --clr-lime-green: hsl(145, 58%, 55%);
  --clr-violet: hsl(264, 64%, 52%);
  --clr-soft-orange: hsl(43, 84%, 65%);

  /* Neutral */

  --clr-very-dark-blue: hsl(226, 43%, 10%);
  --clr-dark-blue: hsl(235, 46%, 20%);
  --clr-hover-dark-blue: hsla(236, 41%, 34%, 1);

  --clr-desaturated-blue: hsl(235, 45%, 61%);
  --clr-pale-blue: hsl(236, 100%, 87%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsla(0, 0%, 0%, 1);
}

body {
  background-color: var(--clr-very-dark-blue);
  color: var(--clr-white);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.8333;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ================== */
/* Typography */
/* ================== */

.xs-text {
  font-size: var(--fs-10);
}

.sm-text {
  font-size: var(--fs-15);
}

.md-text {
  font-size: var(--fs-18);
}

.lg-text {
  font-size: var(--fs-24);
}

.xl-text {
  font-size: var(--fs-32);
}

.info__key {
  color: var(--clr-pale-blue);
}

.info__value {
  font-weight: var(--fw-light);
}

.list__el {
  color: var(--clr-desaturated-blue);
}

.list__el.active {
  color: var(--clr-white);
}

.activity {
  font-weight: var(--fw-medium);
  line-height: 1;
}

.hours {
  font-weight: var(--fw-light);
  line-height: 1;
}

.previous {
  color: var(--clr-pale-blue);
}

/* ================== */
/* Links */
/* ================== */

/* ================== */
/* Buttons & inputs */
/* ================== */

.btn {
  background: none;
  border: none;
  color: var(--clr-desaturated-blue);
  font-size: var(--fs-18);

  padding-bottom: 0.25em;

  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: var(--clr-white);
}

.btn.active {
  color: var(--clr-white);
}

/* ================== */
/* Utility styles */
/* ================== */

.wrapper {
  padding: 5em 1.5em;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* Main grid */
.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 1.5em;

  max-width: 400px;

  margin: 0 auto;
}

/* Cards */
.card {
  background: var(--clr-dark-blue);
  border-radius: 0.75em;
}

.card--user {
}

.cu--upper {
  background-color: var(--clr-blue);
  border-radius: 0.75em;
  padding: 2.125em 2em;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25em;
}

.info__value {
  margin-top: 0.15em;
  line-height: 1;
}

.avatar {
  width: 64px;
}

.cu--lower {
  padding: 1.5em 0;
}

.list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card--stat {
  background: var(--clr-white);
  height: 160px;

  position: relative;

  overflow: hidden;

  cursor: pointer;
}

.card--stat:hover .cs__data,
.card--stat:focus .cs__data {
  background-color: var(--clr-hover-dark-blue);
}

.cs__data {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0.75em;

  height: 122px;
  background: var(--clr-dark-blue);
  padding: 1.75em 1.5em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.data__top,
.data__bottom {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cs--work {
  background: url('./images/icon-work.svg') no-repeat top -6px right 17px;
  background-color: var(--clr-orange);
}

.cs--play {
  background: url('./images/icon-play.svg') no-repeat top -6px right 17px;
  background-color: var(--clr-soft-blue);
}

.cs--study {
  background: url('./images/icon-study.svg') no-repeat top -6px right 17px;
  background-color: var(--clr-light-red);
}
.cs--exercise {
  background: url('./images/icon-exercise.svg') no-repeat top -6px right 17px;
  background-color: var(--clr-lime-green);
}
.cs--social {
  background: url('./images/icon-social.svg') no-repeat top -6px right 17px;
  background-color: var(--clr-violet);
}
.cs--self-care {
  background: url('./images/icon-self-care.svg') no-repeat top -6px right 17px;
  background-color: var(--clr-soft-orange);
}

/* Footer */
.footer {
  margin-top: 0.5em;
}

.attribution {
  text-align: center;
}
.attribution a {
  color: var(--clr-orange);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

/* Tablet */
@media (min-width: 767px) {
  /* Typography */
  .lg-text {
    font-size: var(--fs-40);
  }

  .xl-text {
    font-size: var(--fs-56);
  }

  /* UTILITY STYLES */
  .wrapper {
    padding: 7.5em 7em;
  }

  /* SECTIONS */
  /* Main grid */
  .dashboard-grid {
    grid-template-areas:
      'user stat-1'
      'user stat-2'
      'stat-3 stat-4'
      'stat-5 stat-6';

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 1.875em;
    row-gap: 1.875em;

    max-width: unset;
  }

  .card--user {
    grid-area: user;
  }

  .cu--upper {
    padding: 2.125em 2em 5em;

    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.6875em;
  }

  .info__value {
    line-height: 1.25;
  }

  .cu--lower {
    padding: 1.5em 2em;
  }

  .list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5em;
  }

  .card--stat {
    height: 244px;
  }

  .cs__data {
    height: 199px;

    padding: 1.8125em 1.875em;
  }

  .data__bottom {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
